fastapi
uvicorn
python-multipart
docling
groq
Pillow
pydantic
python-docx
pypdf
redis
celery
aiofiles
sqlalchemy
alembic
python-jose
langchain
langchain-groq
langgraph
psutil
python-magic
forex-python
dateparser
spacy